.container-of-prf{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}
.second-work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bunchaTitle{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.hugeTitle{
    width: 398px;
    height: 120px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
}
.smallTitle{
    width: 465px;
    height: 145px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
}
.picOfProof{
    width: 562px;
    height: 567px;
    margin-left: 500px;
    border-radius: inherit;
}