.container-of-evrt{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.first-work{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.brok-pic{
    width: 624px;
    height: 575px;
    border: none;
    border-radius: inherit;
}
.news{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
}
.big-title{
    height: 120px;
    width: 398px;
    left: 698px;
    top: 1995px;
    border-radius: nullpx;
    font-family: Mulish;
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}
.lil-title{
    height: 145px;
    width: 465px;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    margin-right: 300px;
}
.container-of-prf{
    display: flex;
    flex-direction: row;
    margin-top: 200px;
}
.second-work{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bunchaTitle{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.hugeTitle{
    width: 398px;
    height: 120px;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
}
.smallTitle{
    width: 465px;
    height: 145px;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
}
.picOfProof{
    width: 562px;
    height: 567px;
    margin-left: 500px;
    margin-right: 300px;
    border-radius: inherit;
}