body{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9fa;
}
.app-container{
  width: 1000px;
  height: 550px;
  border: 1px solid white;
  display: flex;
  background-color: #F5F5F5;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.quote{
  width: 366px;
  height: 374px;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.News-thingy{
  height: 440px;
  width: 370.0794982910156px;
  left: 67px;
  top: -216px;
  border-radius: [object Object]px;
  border: 1px solid white;  
  border-radius: 30px;
}
img{
  height: 147px;
  width: 370px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  
  border-radius: 30px;
}
.Text{
  font-weight: 500;
  font-size: 22px;
  width: 280px;
  margin-left: 56px;
  margin-top: 15px;
  color: #25313C;
}
p{
  width: 280px;
  margin-left: 56px;
  margin-top: 15px;
  color: #25313C;
}
.pic2{
  width: 50px;
  height: 51px;
  margin-left: 20px;
}
.datentime{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.name{
  font-size: 13px;
  color:  #6D7D8B;
}
.date{
  font-size: 13px;
  color: #6D7D8B;
  width: 500px;
  margin-left: 35px;
}
.stars{
  width: 200px;
  height: 50px;
}
.text{
  width: 250px;
  height: 200px;
  font-weight: 300;
  font-size: 17px;
  color: #000000;
  font-weight: 500;
}
.woman{
  width: 60px;
  height: 61px;
  margin-left: 20px;
  margin-left: 100px;
}
.picnname{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.NAME{
  font-weight: 600;
  color: black;
  font-size: 20px;
}
.Routers{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: black;
}